.titlebar-buttonbox-container {
    display: none;
}

.tab-close-button {
    display: none !important;
}

.titlebar-spacer {
    display: none;
}

:root {
    --tab-min-height: 20px !important;
    --tab-max-height: 20px !important;
}

.tab-throbber-tabslist,
.tab-throbber,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-overlay {
    height: 14px !important;
    width: 14px !important;
}

.tab-background:-moz-lwtheme-brighttext {
    background-color: #171819 !important;
}

.tab-background {
    background-color: #171819 !important;
}

#urlbar-input {
    height: 15px !important;
}

#urlbar {
    min-height: 23px !important;
}

.toolbarbutton-badge {
    min-width: 10px !important;
}

#nav-bar>.toolbarbutton-1 {
    padding: 0px !important;
}

.urlbar-page-action {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.notification-anchor-icon {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.bookmark-item {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

#tabbrowser-tabs .tab-text {
    font-family: JetBrains Mono;
    font-size: 14 !important;
    font-weight: 300 !important;
}

#urlbar,
#searchbar .searchbar-textbox {
    font-family: JetBrains Mono;
    font-size: 14 !important;
    font-weight: 300 !important;
}

menubar>menu,
toolbar,
toolbar>.toolbarbutton-text,
.toolbarbutton-text,
#nav-bar>.toolbarbutton-1,
.toolbarbutton-menubutton-button>.toolbarbutton-text,
.toolbarbutton-1>.toolbarbutton-text,
toolbarbutton.bookmark-item,
#bookmarks-toolbox,
menubutton,
menulist,
menu,
menuitem,
toolbar,
tree,
tooltip,
sidebarheader,
#CustomizeToolbarWindow,
#main-box,
palette-box,
#wrapper-tabextensions-tablist-button,
wrapper-tabextensions-labelTabSession-button {
    color: #ffffff !important;
    font-weight: 300;
    font-family: JetBrains Mono !important;
}

#star-button {
    display: none;
}